/* Base styles - CSS Variables, HTML/Body, Typography */

html {
  min-height: 100%;
  height: auto;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

:root {
  --blue: #007bff;
  --blue-sharp: #0066cc;
  --blue-soft: #0066ccee;
  --blue-dark: #2c3e50;
  --purple-sharp: #6600ccee;
  --grey-soft: #f5f5f5;
  --grey-softer: #e0e0e0;
  --black: #333;
  --grey-darkest: #444;
  --grey-darker: #444;
  --grey: #666;
  --grey-light: #777;
  --grey-lightest: #ccc;
  --grey-slate: #ffee0009;
  --silver-light: hsl(200, 20%, 80%);
  --silver-dark: hsl(200, 20%, 95%);
}

body {
  line-height: 1.6;
  color: var(--black);
  max-width: 600px;
  margin: 0 auto;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  background: url("https://newsletter.bharatk.in/uploads/Vector-1.svg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

h1,
h2,
h3 {
  color: var(--blue-sharp);
}

a {
  color: var(--blue);
}

a:visited {
  color: var(--purple-sharp);
}

ul {
  padding-left: 20px;
}
