/* Event page styles */

#events {
  margin-top: 2rem;
}

.event {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--grey-lightest);
}

.event:last-child {
  border-bottom: none;
}

.event .name {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--blue-sharp);
  margin-bottom: 10px;
}

.event .meta {
  font-size: 0.9em;
  color: var(--grey-darker);
  margin-top: 0;
}

.event .event-message {
  font-style: italic;
  border-left: 4px solid var(--grey-lightest);
  padding-left: 10px;
  margin-top: 10px;
  color: var(--grey-darkest);
  font-size: 0.95em;
}

.event .going {
  font-size: 0.85em;
  color: var(--grey-darkest);
  font-style: italic;
}

.event .past-event {
  color: #888;
}

.event-image-container {
  width: 100%;
  max-width: 300px;
  height: 200px;
  overflow: hidden;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px var(--grey-light);
}

.event-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
