/* Job posting / Hiring page styles */

#jobs {
  margin-top: 2rem;
}

.job-posting {
  border-bottom: 1px solid var(--grey-lightest);
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

.job-posting:last-child {
  border-bottom: none;
}

.job-posting .name {
  font-size: 1.2rem;
}

.job-message {
  font-style: italic;
  border-left: 4px solid var(--grey-lightest);
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #444;
  font-size: 0.95em;
}
