/* Layout components - Logo, Sticky Header, Main Content */

#sticky-header {
  max-width: 100vw;
  overflow-x: hidden;
  position: absolute;
  margin: 0;
  padding: 0;
  line-height: 7rem;
  top: -5%;
  left: -1%;
  font-size: 6.5rem;
  font-weight: 900;
  opacity: 0.05;
  pointer-events: none;
}

#logo {
  display: block;
  margin: 7.5% auto;
  width: 120px;
  height: 50px;
}

#app-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main-content {
  width: 95%;
  margin: 5% auto 5% auto;
}

.highlight {
  background-color: var(--grey-slate);
  padding: 10px;
  border-left: 4px solid var(--blue-sharp);
  margin-bottom: 20px;
}

.footer {
  margin-top: 20px;
  border-top: 1px solid var(--grey-lightest);
  padding-top: 10px;
}
